<table id="example2" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>No.</th>
    <th>Tipe pembayaran</th>
    <th>Banks</th>
    <th>Status</th>
    <th>Aksi</th>
  </tr>
  </thead>
  <tbody>
    <% for( let index = 0; index < payment.length; index++ ) { %>
      <tr>
        <td><%= index + 1 %> </td>
        <td><%= payment[index].type %> </td>
        <td>
          <% payment[index].banks.forEach(bank => { %>
           <span class="badge badge-warning">
            <%= bank.name %>-<%= bank.nameBank %>-<%= bank.noRekening %>
           </span>
          <% }) %>
        </td>
        <td>
          <% if (payment[index].status === "Y") { %>
            <span class="badge badge-success">
              Aktif
            </span>
          <% } else { %>
            <span class="badge badge-danger">
              Tidak aktif
            </span>
          <% } %> 
        </td>
        <td>
          <form action="/payment/status/<%= payment[index]._id %>?_method=PUT" style="display: inline-block;" method="post">
            <button class="btn btn-primary btn-sm">
              <i class="fas fa-folder"></i>
              <% if (payment[index].status === "Y") { %>
                  Matikan
              <% } else { %>
                  Hidupkan
              <% } %> 
            </button>
          </form>
          <form action="/payment/delete/<%= payment[index]._id %>?_method=DELETE" style="display: inline-block;" method="post">
            <a href="/payment/edit/<%= payment[index]._id %>" class="btn btn-info btn-sm">
              <i class="fas fa-pencil-alt"></i>
              Ubah
            </a>
            <button class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
              Hapus
            </button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>